<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="swim"
             providerName="System.Data.SQLite"
             connectionString="Data Source=C:\ANUL II\SEMESTRUL II\MPP\mpp-proiect-csharp-parnau-patrick\Laborator3\Resources\swim.db"/>


    </connectionStrings>
</configuration>
    
