<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="swim" connectionString="Data Source=C:\ANUL II\SEMESTRUL II\MPP\mpp-proiect-csharp-parnau-patrick\Laborator3\ConcursServer\resources\swim.db;Version=3;" />
    </connectionStrings>
    <appSettings>
        <add key="serverPort" value="55555" />
    </appSettings>
</configuration>